<header class="header row bg-white border-bottom m-0">
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-6">
      <nav
        class="navbar navbar-expand-md navbar-light navbar-inverse navbar-fixed-top"
      >
        <a routerLink="/" routerLinkActive="active" class="navbar-brand"
          ><img
            alt="Logo"
            role="img"
            aria-label="Logo"
            class="logo"
            src="../../../assets/img/Star_Wars-Logo.wine.svg"
        /></a>

        <button
          type="button"
          class="navbar-toggler navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-expanded="false"
          aria-controls="navbar"
          (click)="isCollapsed = !isCollapsed"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse"
          id="navbarCollapse"
          [ngbCollapse]="isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          [ngClass]="{ collapse: isCollapsed }"
        >
          <div class="navbar-nav" (click)="isCollapsed = !isCollapsed">
            <a
              routerLink=""
              routerLinkActive="active"
              class="nav-item nav-link active"
              >Star Wars</a
            >
            <a
              routerLink="/actors-list"
              routerLinkActive="active"
              class="nav-item nav-link"
              >Charactere</a
            >
            <a
              routerLink="/film-list"
              routerLinkActive="active"
              class="nav-item nav-link"
              >Filme</a
            >
          </div>
        </div>
      </nav>
    </div>
    <div class="col-md-2">
      <div class="input-group my-4">
        <app-search></app-search>
      </div>
    </div>
  </div>
</header>
