<div class="row" style="min-height: 100vh; max-width: 990px; margin: 0 auto">
  <div *ngIf="actor; else elseBlock" class="row justify-content-between">
    <div class="row">
      <div class="row mt-5 mb-5">
        <div class="col"><hr /></div>
        <div class="col-auto">
          <h2>{{ actor.name }}</h2>
        </div>
        <div class="col"><hr /></div>
      </div>

      <div class="opener-wide text-center">
        <img
          src="https://via.placeholder.com/970x250"
          class="img-fluid"
          alt="Image from {{ actor.name }} "
        />
        <hr class="my-4" />
        <div class="caption">
          <p>Geboren am: {{ actor.birth_year }} auf {{ planet?.name }}</p>
        </div>
      </div>
      <hr class="mt-5" />
      <div class="col-sm-6">
        <h5>Persönliche Daten</h5>
        <p>Größe: {{ actor.height }} cm</p>
        <p>Gewicht: {{ actor.mass }} kg</p>
        <p>Haarfarbe: {{ actor.hair_color }}</p>
        <p>Augenfarbe: {{ actor.eye_color }}</p>
      </div>
      <div class="col-sm-6">
        <h5>Darsteller in</h5>
        <ul class="list-group">
          <li
            *ngFor="let a of NameList; let i = index"
            href="#"
            class="btn bg-dark text-white list-group-item m-2"
            routerLink="details"
            routerLinkActive="active"
            (click)="openDetails(a)"
          >
            {{ a.title }}
          </li>
        </ul>
      </div>
      <hr class="my-4" />
      <p class="text-center">
        <button
          class="btn bg-dark text-white"
          href="#"
          role="button"
          routerLink="/actors-list"
          routerLinkActive="active"
          (click)="goBack()"
        >
          Zurück</button
        ><app-modal></app-modal>
      </p>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="row">
    <div class="col"><hr /></div>
    <div class="col-auto">
      <h3>
        Page not found <br />
        <a
          class="btn"
          href="#"
          role="button"
          routerLink="/"
          routerLinkActive="active"
          >Zurück zur Startseite</a
        >
      </h3>
    </div>
    <div class="col"><hr /></div>
  </div>
</ng-template>
