<div class="row">
  <div class="jumbotron jumbotron-fluid mt-5">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">
      This is a simple App to demonstrate how to handle Angular to get Api Data
      and display it.
    </p>
    <hr class="my-4" />
    <p>Just for demo purposes and not production ready.</p>
    <p>Feel free to play with it.</p>
    <p class="lead">
      <a
        class="btn btn-primary btn-lg bg-dark text-white"
        href="https://github.com/Code-Case/angular-bootstrap-swapi-app"
        role="button"
        >Show more</a
      >
    </p>
  </div>
</div>
