<div *ngIf="film; else elseBlock" class="row justify-content-between">
  <div class="row">
    <div class="row mt-5">
      <div class="col"><hr /></div>
      <div class="col-auto">
        <h2>{{ film.title }}</h2>
      </div>
      <div class="col"><hr /></div>
      <img
        alt="Image from {{ actor.name }} "
        role="img"
        aria-label="Logo"
        class="teaser-img"
        src="../../../assets/img/Star_Wars-Logo.wine.svg"
      />
      <div class="col mt-4"><hr /></div>
      <div class="col-auto mt-4">
        <h2 class="mb-2">Plot</h2>
      </div>
      <div class="col mt-4"><hr /></div>
      <p class="mt-4">{{ film.opening_crawl }}</p>
    </div>

    <div class="row">
      <h3>Alle Darsteller</h3>

      <a
        *ngFor="let a of NameList; let i = index"
        class="btn col-sm-6 col-md-3 p-3"
        [routerLink]="['actors-details']"
        routerLinkActive="active"
        (click)="openDetails(a)"
      >
        {{ a.name }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-link-45deg"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
          />
          <path
            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"
          />
        </svg>
      </a>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="row">
    <div class="col"><hr /></div>
    <div class="col-auto">
      <h3>
        Page not found <br />
        <a class="btn" role="button" routerLink="/" routerLinkActive="active"
          >Zurück zur Startseite</a
        >
      </h3>
    </div>
    <div class="col"><hr /></div>
  </div>
</ng-template>
