.opener-wide {
  display: flex;
}

.caption {
  position: absolute;
  vertical-align: middle;
}

.row > * {
  padding-right: 0;
}

.teaser-img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
