ul {
  position: absolute;
  padding: 0;
}

.result-list {
  background-color: black;
  color: white;
  width: 100%;
  z-index: 9;

  li {
    list-style: none;
    padding: 0.25em;
  }

  a {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 0.25rem;
    margin: 0 0.25rem;

    &:hover {
      color: grey;
      text-decoration: underline;
    }
  }
}
