// Body
$body-bg: #ffffff;

// Typography
$font-size-base: 1.25rem; // this changes the font-size throughout bootstrap
$font-family-sans-serif:  Roboto, Helvetica, Arial, sans-serif !default;
$line-height-base: 1.6;
$h2-font-size: $font-size-base * 3;
$spacer: 1rem;
$headings-margin-bottom: $spacer / 0.5;

