/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "variables";
@import "~bootstrap/scss/bootstrap";

h2 {
  @media (min-width: 576px) {
    margin-top: -1.5rem;
  }

  margin-top: -0.5rem;
}

main {
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}
